body {
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

header a img {
  max-height: 40px;
}

header .nav-link {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

header .nav-link:hover {
  color: #007bff;
}

.fab, .fas {
  font-size: 1rem;
}

.border-end {
  border-right: 1px solid #ccc !important;
}

.titulo {
      color: #002856; 
      font-weight: bold;
      text-align: center;
    }

  .banner-porque-elegirnos {
  text-align: center;
  padding: 40px 20px;
  font-family: sans-serif;
}

.banner-porque-elegirnos h2 {
  font-size: 28px;
  font-weight: bold;
  color: #001f4d;
  margin-bottom: 20px;
}

.contenido-banner {
  background-color: #3399cc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  clip-path: polygon(0% 0%, 2.5% 50%, 0% 100%, 100% 100%, 97.5% 50%, 100% 0%);
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.lista-beneficios {
  text-align: left;
  list-style: disc;
  margin-left: 40px;
  font-size: 16px;
}

.llamado-accion {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 40px;
}