/* Fondo general para el sitio (opcional) */
body {
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

/* Ajustes generales del header */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

/* Logo alineado */
header a img {
  max-height: 40px;
}

/* Navegación */
header .nav-link {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

header .nav-link:hover {
  color: #007bff;
}

/* Íconos de redes */
.fab, .fas {
  font-size: 1rem;
}

/* Teléfono */
.border-end {
  border-right: 1px solid #ccc !important;
}



.footer {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer li {
  margin: 0 10px;
  position: relative;
}

.footer li:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: #888;
}